<!DOCTYPE html>
<html>
<head>
	{% block title %}<title> NEAT LIBRARY </title>{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initaial-scale = 1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{static 'css/styles.css'}">
<div class="container-fluid">
	<div class = "row">
		<div class = col-sm-2>
			{% block sidebar %}
			<ul class="sidebar-nav">
			<li><a href="{%  url 'index' %}">HOME</a></li>
			<li><a href="">All Books</a></li>
			<li><a href="">All Author</a></li>
			 </ul>
			 {% endblock %}
			 </div>
			 <div class="col-sm-10">
			 	{% block content %}
			 	{% endblock %}
			 </div>
	</div>

</div>
</body>
</html>